<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Registration Form</title>
</head>
<body>
<h3>Student Registration Form</h3>

<form th:action="@{/processStudentForm}" th:object="${student}" method="POST">

    First Name: <input type="text" th:field="*{firstName}"/>

    <br><br>

    Last Name: <input type="text" th:field="*{lastName}"/>

    <br><br>

    Country:
    <select th:field="*{country}">

        <option th:each="tempCountry : ${countries}" th:value="${tempCountry}" th:text="${tempCountry}"/>
        <!--
        <option th:value="Brazil">Brazil</option>
        <option th:value="Turkey">Turkey</option>
        <option th:value="Germany">Germany</option>
        <option th:value="America">America</option>
        -->
    </select>

    <br><br>

    <input type="radio" th:field="*{favLang}" th:each="tempLang : ${langs}" th:value="${tempLang}"
    th:text="${tempLang}"/>
    <!--
    <input type="radio" th:field="*{favLang}" th:value="C" th:text="C"/>
    <input type="radio" th:field="*{favLang}" th:value="Python" th:text="Python"/>
    <input type="radio" th:field="*{favLang}" th:value="Cpp" th:text="Cpp"/>-->

    <br><br>

    <input type="checkbox" th:field="*{favOSes}" th:each="tempOS : ${OSes}" th:value="${tempOS}" th:text="${tempOS}"/>

    <br><br>

    <input type="submit" value="Submit"/>

</form>

</body>
</html>