<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Validated</title>
  <link rel="stylesheet"
        th:href="@{css/customer.css}"/>
</head>
<body>

<span th:text="'Customer is confirmed: ' + ${customer.firstName} + ' ' + ${customer.lastName}"/>

<br><br>

<span th:text="'Free passes: ' + ${customer.freePasses}"/>

<br><br>

<span th:text="'Postal Code: ' + ${customer.postalCode}"/>

<br><br>

<span th:text="'Course Code: ' + ${customer.courseCode}"/>

</body>
</html>